<div class="form-group" [ngClass]="{ 'my-invalid': control.errors }">
    <label class="control-label">{{ dt }}</label>
    <mat-icon style="font-size: 2em;" *ngIf="istooltip" matTooltip="{{this.tooltip}}"
        svgIcon="heroicons_outline:information-circle" class="pt-2"></mat-icon>
    <i *ngIf="control.errors  && dt" class="fa fa-exclamation-circle" matTooltip="{{ control.errors.message  }}"
        [matTooltipPosition]="'above'"></i>
    <input [ngStyle]="{ 'border-color': control.errors && !dt ? '#dc3545' : ''}" type="{{ type }}"
        [placeholder]="placeholder" kendoTextBox [formControl]="control" [attr.disabled]="isDisabled ? '' : null"
        [min]="min" />
</div>