.k-i-loading{
    span{
        top: calc(50% + 30px);
            display: block;
            position: absolute;
            font-size: 1rem;
            width: 100%;
            text-align: center;
    }
}