<div class="table-responsive">
    <table class="table table-striped table-bordered" *ngIf="this._TableData">
        <tbody>
            <tr class="h6 font-weight-600 p-16  text-center">
                <td class="text-center">
                    No.
                </td>
                <td class="text-center" *ngFor="let head of HeadingData">
                    {{head}}
                </td>
            </tr>

            <tr *ngFor="let sd of this._TableData;
            let i = index">
                <td class="text-center">
                    {{i+1}}
                </td>
                <td class="text-center" *ngFor="let h of head">
                    <ng-container *ngIf="!sd[h]?.Text">
                        {{sd[h]}}
                    </ng-container>
                    <ng-container *ngIf="sd[h]?.Text">
                        {{sd[h].Text}}
                    </ng-container>
                </td>

            </tr>

            <tr *ngIf="!this._TableData.length">
                <td class="text-center" colspan="6">
                    No Data Available
                </td>
            </tr>

        </tbody>
    </table>
</div>