<div on-mouseover="over()" on-mouseleave="out()" class="form-group configuration"
    [ngClass]="{ 'my-invalid': control.errors }">
    <label class="control-label" *ngIf="dt">{{ dt }}</label>
    <!-- <i *ngIf=" this.isHover && !this.isProduction" class="fa fa-exclamation-circle" matTooltip="{{ this.controlName }}" [matTooltipPosition]="'above'"></i> -->
    <i *ngIf="control.errors && dt" class="fa fa-exclamation-circle" matTooltip="{{ control.errors.message }}"
        [matTooltipPosition]="'above'"></i>
    <kendo-autocomplete #autocomplete [value]="inputValue" (filterChange)="onFilterChange($event)"
        [ngStyle]="{ 'border-color': control.errors && !dt ? '#dc3545' : ''}" [formControl]="control"
        [data]="_dataItems" [loading]="_isLoading" [attr.disabled]="isDisabled" (valueChange)="onChange($event)"
        [filterable]="true" (filterChange)="handleFilter($event)">
    </kendo-autocomplete>
</div>